trigger: none

pool: My Agent

jobs:
- job:  firstjob
  displayName: init and plan job
  pool: My Agent
  steps:
  - task: TerraformInstaller@1
    displayName: terraform installer task
    inputs:
      terraformVersion: 'latest'

  - task: TerraformTask@5
    displayName: terraform init
    inputs:
      provider: 'azurerm'
      command: 'init'
      workingDirectory: '$(System.DefaultWorkingDirectory)/ENV/DEV'
      backendServiceArm: 'corp-prod-03-aj-todo-aplication'
      backendAzureRmResourceGroupName: 'shiviaj101'
      backendAzureRmStorageAccountName: 'stgshivi101'
      backendAzureRmContainerName: 'tfstate'
      backendAzureRmKey: 'dev2.terraform.tfstate'

  - task: TerraformTask@5
    displayName: terraform validate
    inputs:
      provider: 'azurerm'
      command: 'validate'
      workingDirectory: '$(System.DefaultWorkingDirectory)/ENV/DEV'


  - task: TerraformTask@5
    displayName: terraform plan
    inputs:
      provider: 'azurerm'
      command: 'plan'
      workingDirectory: '$(System.DefaultWorkingDirectory)/ENV/DEV'
      environmentServiceNameAzureRM: 'corp-prod-03-aj-todo-aplication'



      